/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Imports Raleway font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

/* Imports Cubao Font from 'www/font/Cubao.otf' in codebase */
@font-face {
	font-family: "Cubao";
	src: url("../font/Cubao.otf");
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-tap-highlight-color: rgba(
		0,
		0,
		0,
		0
	); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	--body-color: #e4e4e4;
	--primary-color: #32a6e8;
	--secondary-color: #ff5f11;
	--shade-of-blue: #056bb1;
	/*border: 1px solid red;*/
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: var(--body-color);
	font-family: system-ui, -apple-system, -apple-system-font, "Raleway",
		"Segoe UI", "Roboto", sans-serif;
	font-size: 12px;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	/* Padding to avoid the "unsafe" areas behind notches in the screen */
	padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
		env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
	width: 100%;
}

/* Portrait layout (default) */

.app {
	font-family: "Raleway", sans-serif;
	background: url(../img/appLogo.png) no-repeat center top / 170px 200px; /* 170px x 200px */
	position: absolute; /* position in the center of the screen */
	left: 50%;
	top: 50%;
	height: 50px; /* text area height */
	width: 225px; /* text area width */
	text-align: center;
	padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
	margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
	/* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
	.app {
		background-position: left center;
		padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
		margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
		/* offset horizontal: half of image width and text area width */
	}
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
}

.event {
	border-radius: 4px;
	color: #ffffff;
	font-size: 12px;
	margin: 0px 30px;
	padding: 2px 0px;
}

.event.listening {
	background-color: var(--primary-color);
	display: block;
}

.event.received {
	background-color: var(--secondary-color);
	display: none;
}

#deviceready.ready .event.listening {
	display: none;
}
#deviceready.ready .event.received {
	display: block;
}

@keyframes fade {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.blink {
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}

/* @media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
} */

/***************** CUSTOM CSS *****************/

/***************** HOME *****************/
#home-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: "Raleway", sans-serif;
}

.logo {
	margin-top: 11.125rem;
}

.logo img {
	width: 15rem;
	margin-bottom: 0rem;
}

.description {
	text-align: center;
	max-width: 15rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	color: var(--secondary-color);
}

.buttons {
	margin-bottom: 7.8rem;
}

.buttons button i {
	margin-right: 1rem;
}

.play-button,
.learn-button,
.settings-button {
	display: block;
	width: 15rem;
	min-height: 3rem;
	max-height: max-content;
	margin-bottom: 1rem;
	font-family: "Cubao", sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	background-color: var(--shade-of-blue);
	border-radius: 0.5rem;
}

/***--- Difficulty modal----***/
#difficulties-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Raleway", sans-serif;
	display: none;
	background-color: var(--body-color);
	padding: 2rem;
}

.modal-content {
	width: 100%;
	max-width: 30rem;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-content h2 {
	margin-top: 1rem;
	font-family: "Cubao", sans-serif;
	letter-spacing: 0.2rem;
	text-align: center;
	color: var(--secondary-color);
	font-size: 2rem;
}

.difficulty-button {
	display: block;
	width: 15rem;
	min-height: 3rem;
	max-height: max-content;
	margin-bottom: 1rem;
	font-family: "Cubao", sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	background-color: var(--shade-of-blue);
	border-radius: 0.5rem;
	letter-spacing: .1rem;
}

.back-button {
	position: fixed;
	top: 3rem;
	left: 1.5rem;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: var(--shade-of-blue);
	background: none;
	border: none;
	cursor: pointer;
	margin-bottom: 1.5rem;
}

.back-button i {
	margin-right: 0.5rem;
}
/***************** VOCABULARY *****************/



/***************** Game *****************/
#easy-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: "Raleway", sans-serif;
}

/***************** GAME HEADER - REUSABLE *****************/
.header {
	margin-top: 3rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: var(--shade-of-blue);
}

.points {
	order: 1;
	margin-right: auto;
	margin-left: 1.5rem;
	border-radius: 10px;
	background: #64C9FB;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.50) inset;
	width: 4.5em;
	height: 2rem;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-size: 1rem;
	color: white;
	font-family: "Cubao", sans-serif;
}

.points i {
	margin-left: .5rem;
}

.points span {
	flex-grow: 1;
	text-align: right;
	font-family: "Cubao", sans-serif;
	font-size: 1.2rem;
}

.round {
	order: 2;
	position: relative;
	text-align: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 7px solid var(--secondary-color);
	margin: 0 auto;
	margin-left: -.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 16rem;
	color: var(--secondary-color);
}

.round span {
	font-size: 3rem;
	position: absolute;
	font-family: "Cubao", sans-serif;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.round::before {
	content: "Round";
	font-size: 0.8rem;
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
}

.timer {
	order: 3;
	margin-right: 1.5rem;
	border-radius: 10px;
	background: #64C9FB;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.50) inset;
	width: 4.5em;
	height: 2rem;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-size: 1rem;
	color: white;
	font-family: "Cubao", sans-serif;
}

.timer i {
	margin-left: .5rem;
}

.timer span {
	flex-grow: 1;
	text-align: right;
	font-family: "Cubao", sans-serif;
	font-size: 1.2rem;
}


/***************** WORD TO GUESS *****************/
.phrase {
	margin-top: 9rem;
	position: fixed;
}

.phrase h3 {
	font-size: 1.8rem;
	font-weight: bold;
	font-family: "Cubao", sans-serif;
	color: var(--secondary-color);
	letter-spacing: 0.1rem;
}

/***************** CARDS *****************/
.card-container{
	margin-top: 15rem;
}
.card-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: .2rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.flip-card {
	width: 9.5rem;
	height: 11rem;
	perspective: 62rem;
	margin: .5rem;
}

.flip-card-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-front {
	background-image: url(../img/bg1.jpg);
	display: flex;
	border: .2rem solid var(--shade-of-blue);
	background-size: cover;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border-radius: .5rem;
}

.flip-card-back {
	background-image: url(../gifs/almusal.gif);
	background-size: cover;
	background-position: center;
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: .5rem;
}

/***************** POWER UPS *****************/
.power-up{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.power-up-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;
}

.power-up-button button {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	border: none;
	background-color: var(--secondary-color);
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

.power-up-button span {
	color: #FF5F11;
	text-align: center;
	font-size: 1rem;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-top: .2rem;
}
.power-up i{
	font-size: 2rem;
}


