/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Imports Raleway font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

/* Imports Cubao Font from 'www/font/Cubao.otf' in codebase */
@font-face {
	font-family: "Cubao";
	src: url("../font/Cubao.otf");
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-tap-highlight-color: rgba(0,
			0,
			0,
			0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	--body-color: #e4e4e4;
	--custom_white: #fff;
	--primary-color: #32a6e8;
	--secondary-color: #ff5f11;
	--shade-of-blue: #056bb1;
	/*border: 1px solid red;*/
}

body {
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: white;
	font-family: system-ui, -apple-system, -apple-system-font, "Raleway",
		"Segoe UI", "Roboto", sans-serif;
	font-size: 12px;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	/* Padding to avoid the "unsafe" areas behind notches in the screen */
	padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
	width: 100%;
}

/* Portrait layout (default) */

.app {
	font-family: "Raleway", sans-serif;
	background: url(../img/appLogo.png) no-repeat center top / 170px 200px;
	/* 170px x 200px */
	position: absolute;
	/* position in the center of the screen */
	left: 50%;
	top: 50%;
	height: 50px;
	/* text area height */
	width: 225px;
	/* text area width */
	text-align: center;
	padding: 180px 0px 0px 0px;
	/* image height is 200px (bottom 20px are overlapped with text) */
	margin: -115px 0px 0px -112px;
	/* offset vertical: half of image height and text area height */
	/* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
	.app {
		background-position: left center;
		padding: 75px 0px 75px 170px;
		/* padding-top + padding-bottom + text area = image height */
		margin: -90px 0px 0px -198px;
		/* offset vertical: half of image height */
		/* offset horizontal: half of image width and text area width */
	}
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
}

.event {
	border-radius: 4px;
	color: var(--custom_white);
	font-size: 12px;
	margin: 0px 30px;
	padding: 2px 0px;
}

.event.listening {
	background-color: var(--primary-color);
	display: block;
}

.event.received {
	background-color: var(--secondary-color);
	display: none;
}

#deviceready.ready .event.listening {
	display: none;
}

#deviceready.ready .event.received {
	display: block;
}

@keyframes fade {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

.blink {
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}

/* @media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
} */

/***************** CUSTOM CSS *****************/

/***************** HOME *****************/
#home-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: "Raleway", sans-serif;
}

.logo {
	margin-top: 11.125rem;
}

.logo img {
	width: 15rem;
	margin-bottom: 0rem;
}

.description {
	text-align: center;
	max-width: 15rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	color: var(--secondary-color);
}

.buttons {
	margin-bottom: 7.8rem;
}

.buttons button {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 1.5rem;
}

.buttons i {
	margin-right: 1.5rem;
	width: 20px;
	height: 20px;
}

.play-button,
.learn-button,
.instruction-button {
	display: block;
	width: 15rem;
	min-height: 3rem;
	max-height: max-content;
	margin-bottom: 1rem;
	font-family: "Cubao", sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	background-color: var(--shade-of-blue);
	border-radius: 0.5rem;
}

a {
	text-decoration: none;
}

/***--- Difficulty modal----***/
#difficulties-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Raleway", sans-serif;
	display: none;
	background-color: white;
}

.modal-content {
	width: 100%;
	max-width: 30rem;
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-content h2 {
	margin-top: 1rem;
	font-family: "Cubao", sans-serif;
	letter-spacing: 0.2rem;
	text-align: center;
	color: var(--secondary-color);
	font-size: 2rem;
}

.difficulty-button {
	display: block;
	width: 15rem;
	min-height: 3rem;
	max-height: max-content;
	margin-bottom: 1rem;
	font-family: "Cubao", sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	background-color: var(--shade-of-blue);
	border-radius: 0.5rem;
	letter-spacing: .1rem;
}

.back-button {
	position: fixed;
	top: 3rem;
	left: 1.5rem;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	color: var(--shade-of-blue);
	background: none;
	border: none;
	cursor: pointer;
	margin-bottom: 1.5rem;
}

.back-button i {
	margin-right: 0.5rem;
}

/***************** VOCABULARY *****************/



/***************** Game *****************/

#easy-container,
#intermediate-container,
#hard-container {
	display: none;
}

.container {
	height: 100vh;
	flex-direction: column;
	align-items: center;
	font-family: "Raleway", sans-serif;
	gap: .5rem;
}


/***************** GAME HEADER - REUSABLE *****************/
.header {
	margin-top: 1.5rem;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.625rem;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	color: var(--shade-of-blue);
	width: 100%;
}

.points {
	order: 1;
	margin-right: auto;
	margin-left: 1.5rem;
	border-radius: 0.625rem;
	background: var(--primary-color);
	box-shadow: 0.1875rem 0.1875rem 0.3125rem 0px rgba(0, 0, 0, 0.50) inset;
	width: 4.5em;
	height: 2rem;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-size: 1rem;
	color: var(--custom_white);
	font-family: "Cubao", sans-serif;
}

.points i {
	margin-left: 0.5rem;
}

.points span {
	flex-grow: 1;
	text-align: right;
	font-family: "Cubao", sans-serif;
	font-size: 1.2rem;
}

.round {
	order: 2;
	position: relative;
	text-align: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 0.4375rem solid var(--secondary-color);
	margin: 0 auto;
	margin-left: -0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	color: var(--secondary-color);
}

.round span {
	font-size: 3rem;
	position: absolute;
	font-family: "Cubao", sans-serif;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.round::before {
	content: "Round";
	font-size: 0.8rem;
	position: absolute;
	top: 0.5rem;
	left: 0;
	right: 0;
}

.timer {
	order: 3;
	margin-right: 1.5rem;
	border-radius: 0.625rem;
	background: var(--primary-color);
	box-shadow: 0.1875rem 0.1875rem 0.3125rem 0px rgba(0, 0, 0, 0.50) inset;
	width: 4.5em;
	height: 2rem;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	font-size: 1rem;
	color: var(--custom_white);
	font-family: "Cubao", sans-serif;
}

.timer i {
	margin-left: 0.5rem;
}

.timer span {
	flex-grow: 1;
	text-align: right;
	font-family: "Cubao", sans-serif;
	font-size: 1.2rem;
}


/***************** WORD TO GUESS *****************/
.phrase {
	width: 20rem;
	height: 5rem;
	padding: 0 0.2rem;
	/* border: 1px solid var(--secondary-color); */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phrase .words {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.phrase h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
	color: var(--secondary-color);
	letter-spacing: 0.1rem;
	flex: 0 0 auto;
	margin: 0;
	line-height: 2rem;
}

/***************** CARDS *****************/
.card-container {
	position: relative;
} 

.card-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: .2rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.easy-container .flip-card {
	width: 9.5rem;
	height: 11rem;
	perspective: 62rem;
	margin: .5rem;
}

.intermediate-container .flip-card {
	width: 8rem;
	height: 8.5rem;
	perspective: 62rem;
	margin: .5rem;
}

.hard-container .flip-card {
	width: 5.5rem;
	height: 7rem;
	perspective: 62rem;
	margin: .5rem;
}

.flip-card-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.6s;
}

.flip-card.flipped .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;

}

.flip-card-front {
	background-image: url(../img/bg1.jpg);
	display: flex;
	border: .2rem solid var(--shade-of-blue);
	background-size: cover;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	border-radius: .5rem;
}

.flip-card-back {
	background-image: url(../gifs/almusal.gif);
	background-size: cover;
	background-position: center;
	border: .2rem solid var(--secondary-color);
	color: white;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: .5rem;
	margin-left: -.3rem;
}

/***************** POWER UPS *****************/
.power-up {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.power-up-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;
}

.power-up-button button {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	border: none;
	background-color: var(--secondary-color);
	color: white;
	font-size: 1rem;
	cursor: pointer;
}

.power-up-button span {
	color: var(--secondary-color);
	text-align: center;
	font-size: 1rem;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-top: .2rem;
}

.power-up i {
	font-size: 2rem;
}


/* #region CREATE_ACCOUNT */
#create-account-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: none;
	align-items: center;
	justify-content: center;
}

#create-account-modal {
	background-color: rgb(231, 231, 231);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#create-account-modal .item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#item-1 {
	height: 20%;
}

#item-2 {
	height: 30%;
	position: relative;
}

#item-3 {
	height: 10%;
}

#item-4 {
	height: 40%;
}

#item-5 {
	height: 40%;
}

#create-account-modal .item h2 {
	margin: 0;
}

#create-account-modal .border {
	background-color: green;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#user-avatar {
	aspect-ratio: 1;
}

#logger {
	text-align: center;
	color: #0684d8;
}

#user-avatar-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

#user-avatar-modal {
	background-color: rgb(231, 231, 231);
	display: flex;
	flex-direction: column;
}

.user-avatar-header {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.user-avatar-header h2 {
	font-size: 6vw;
}

#user-avatar-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

#user-avatar-modal .item {
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
	box-sizing: border-box;
}

#user-avatar-modal .item img {
	aspect-ratio: 1;
}

#avatar-button {
	position: absolute;
	left: 65%;
	border-radius: 100px;
	color: whitesmoke;
	background-color: #0684d8;
	border: 3px solid #0684d8;
	padding: 2%;
}

#login-form {
	height: 100%;
	width: 100%;
	position: relative;
}


#username-label {
	position: absolute;
	left: 9%;
	top: 16.5%;
	color: #0684d8;
	font-weight: bold;
}

#username-input {
	border-radius: 100px;
	position: absolute;
	left: 35%;
	top: 15%;
	width: 51%;
	height: 20%;
	color: #0684d8;
	border: 3px solid #0684d8;
	padding-left: 2%;
	padding-right: 2%;
	background-color: whitesmoke;
}

#continue-button {
	position: absolute;
	bottom: 20%;
	right: 25%;
	width: 50%;
	height: 30%;
	border-radius: 100px;
	color: whitesmoke;
	background-color: #0684d8;
	border: 3px solid #0684d8;
	font-weight: bold;
}

#loading-animation-createacc {
	display: none;
	position: absolute;
	bottom: 20%;
	right: 25%;
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}


/* #endregion CREATE_ACCOUNT */

/* #region PROFILE_ACCOUNT */
#profile-button {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9999;
	background-color: #f1f1f1;
	border: none;
	cursor: pointer;
	border-radius: 100%;
	width: 48px;
	display: none;
	aspect-ratio: 1;
}

#profile-container-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: none;
	align-items: center;
	justify-content: center;
}

#profile-container-bg .modal {
	width: 80vw;
	background-color: rgb(231, 231, 231);
	border-radius: 5vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* #endregion PROFILE_ACCOUNT */

/* #region INSTRUCTION HOW TO PLAY */
/* 
.howto-container.active {
	display: block;
}

.howto-container {
	display: none;
}

.howto-container{
	margin: 2rem;
} */

#instruction-main-container {
	display: none;
}

.instruction-container.active {
	display: flex;
	flex-direction: column;
}

.instruction-container {
	margin: 2rem;
	/*top leftright bottom*/
	display: none;
	color: #202020;
}

.home-button {
	font-size: 1.5rem;
	color: var(--shade-of-blue);
	cursor: pointer;
	position: absolute;
	left: 5%;
	top: 5%;
}

.home-button:hover {
	color: var(--secondary-color);
}

.instruction {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
}

.instruction-header {
	font-family: "Cubao", sans-serif;
	font-size: 2rem;
	color: var(--primary-color);
	margin: 1rem -1rem 0rem;
}

.instruction-content {
	font-family: "Raleway", sans-serif;
	font-size: 1.1rem;
}

.instruction-content span {
	font-weight: bold;
}

.image-container {
	display: flex;
	justify-content: center;
}

.image-container img {
	border: .2rem solid var(--secondary-color);
	padding: .5rem;
	border-radius: .75rem;
	width: 100%;
	height: auto;
}

.image-container>.img-big {
	height: 30rem;
}

/* NEXT & PREVIOUS BUTTON */
.buttons-container {
	position: fixed;
	bottom: -2%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	/* Adjust the width as needed */
	margin: 2rem auto;
}

.previous-button,
.next-button {
	font-size: 1rem;
	background-color: var(--shade-of-blue);
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	font-family: "Cubao", sans-serif;
	letter-spacing: .1rem;
}

.next-button {
	padding: 1rem 2.6rem;
}

.previous-button {
	padding: 1rem 1.5rem;
	margin-right: 1rem;
}

.previous-button:hover,
.next-button:hover {
	background-color: var(--secondary-color);
}

@media (max-width: 1400px) {
	.image-container>.img-big {
		height: 22rem;
	}
}

/* #endregion INSTRUCTION HOW TO PLAY */

/* #region LEADERBOARD */

#mobile-logger {
	height: 30vw;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #000000;
	padding: 5%;
	background: rgb(255, 255, 255);
	z-index: 5;
}

#gameover-container-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: none;
	align-items: center;
	justify-content: center;
}

#gameover-container-bg .modal {
	background-color: rgb(231, 231, 231);
	border-radius: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 6;
}

#gameover-container-bg button {
	padding: 10px;
	background-color: #f1f1f1;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px;
}

#gameover-button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 7;
	padding: 10px;
	background-color: #f1f1f1;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


#gameover-container-bg button:active {
	background-color: #d4d4d4;
}

#leaderboard-container {
	/* display: none; */
	height: 50%;
	width: 100%;

}

#leaderboard-title-1 {
	height: 12%;
	width: 100%;

	display: flex;
	align-items: center;
}

#leaderboard-title-1 h3 {
	margin: auto;
	text-align: center;
}

#leaderboard-title-2 {
	text-align: center;
	position: absolute;
	bottom: 45%;
	left: 11%;
	transform: translate(50%, 50%);
}

#leaderboard-title-3 {
	text-align: center;
	position: absolute;
	bottom: 45%;
	right: 11%;
	transform: translate(50%, 50%);
}

.place-crown {
	width: 50%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 0%;
	z-index: 7;
	transform: translate(-50%, 0%);
}

.place-avatar {
	width: 100%;
	aspect-ratio: 1;
	position: absolute;
	left: 0%;
	top: 10%;
}


.place-username {
	border-radius: 100px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	background-color: #056bb1;

	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, 0%);
}

.place-score {
	font-weight: 1000;
	color: #056bb1;
	position: absolute;
	left: 50%;
	bottom: -15%;
	transform: translate(-50%, 0%);
}

.place-sentence {
	display: none;
}

#leaderboard-avatar-group-1 {
	display: none;
	width: 25%;
	aspect-ratio: .70;
	position: relative;
	left: 50%;
	top: 0%;
	transform: translate(-50%, 0%);
}

#leaderboard-avatar-group-2 {
	display: none;
	width: 20%;
	aspect-ratio: .70;
	position: relative;
	left: 15%;
	bottom: 55%;
	transform: translate(0%, 0%);
}

#leaderboard-avatar-group-3 {
	display: none;
	width: 20%;
	aspect-ratio: .70;
	position: relative;
	left: 85%;
	bottom: 55%;
	transform: translate(-100%, -100%);

}

#leaderboard-avatar-group-current {
	background-color: #056bb1;
	width: 80%;
	height: 20%;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 1000px;
	position: relative;
	z-index: 9;
	top: -110%;
	transform: translate(13.5%, 0%);
	display: none;
	flex-direction: row;
	align-items: center;
}

#leaderboard-avatar-group-current .item {
	height: 100%;
	padding-right: 5%;
	align-items: center;
	justify-content: center;
}

#leaderboard-avatar-group-current p {
	color: whitesmoke;
	transform: translate(0%, -50%);
	font-weight: 500;
	text-align: center;
	vertical-align: middle 1;
}

#leaderboard-avatar-group-current .flex-in {
	flex: inherit;

}

#leaderboard-avatar-group-current .flex-1 {
	flex: 1;
}

.leaderboard-item {
	display: flex;
	align-items: center;
}

.leaderboard-label {
	font-weight: bold;
}

.username {
	margin-left: 10px;
}

.leaderboard-group-row {
	height: 12%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.leaderboard-group-row #refresh-leaderboard-button {
	height: 100%;
	width: 100%;
	border-radius: 100px;
	color: whitesmoke;
	background-color: #0684d8;
	border: 3px solid #0684d8;
}

.leaderboard-group-row #difficulty-dropdown {
	height: 100%;
	width: 100%;
	border-radius: 100px;
	color: #0684d8;
	margin: 10%;
	border: 3px solid #0684d8;
}

.leaderboard-group-row #send-highscore-button {
	background-color: #0684d8;
	height: 100%;
	border-radius: 100px;
	color: whitesmoke;
}

.leaderboard-group-row #play-again-button {
	background-color: #0684d8;
	height: 100%;
	border-radius: 100px;
	color: whitesmoke;
}

.leaderboard-group-row #home-button {
	background-color: #0684d8;
	height: 100%;
	border-radius: 100px;
	color: whitesmoke;
}

#send-leaderboard-button {
	background-color: #056bb1;
}

#current-position-group {
	display: none;
}

#loading-animation-leaderboard-send {
	display: none;
}

#loading-animation-leaderboard-refresh {
	display: none;
}

.loading-animation {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

#gameover-msg,
#display-score,
#display-sentence {
	color: #056bb1;
	margin: 1%;
}


/* #endregion LEADERBOARD */

@media screen and (orientation: portrait) {

	.container{
		overflow: hidden;
	}

	/* #region LEADERBOARD */
	#gameover-container-bg .modal {
		width: 80%;
		aspect-ratio: 1;
	}

	#gameover-container-bg h3 {
		font-size: 5vw;
	}

	.place-username {
		font-size: 3vw;
		padding: 1vw;
	}

	.place-score {
		font-size: 3vw;
	}


	#leaderboard-avatar-group-current p {
		font-size: 3vw;
	}


	.leaderboard-group-row h2 {
		font-size: 3vw;
	}

	.leaderboard-group-row #refresh-leaderboard-button {
		padding: 1vw;
		font-size: 3vw;
	}

	.leaderboard-group-row #difficulty-dropdown {
		padding: 1vw;
		font-size: 3vw;
	}

	.leaderboard-group-row #send-highscore-button {
		padding: 2vw;
		font-size: 3vw;
	}

	.leaderboard-group-row #play-again-button {
		padding: 2vw;
		font-size: 3vw;
	}


	.leaderboard-group-row #home-button {
		padding: 2vw;
		font-size: 3vw;
	}

	.loading-animation {
		width: 5vw;
		height: 5vw;
	}

	/* #endregion LEADERBOARD */

	/* #region CREATE_ACCOUNT */

	#username-label {
		font-size: 4vw;
	}

	#username-input {
		font-size: 4vw;
	}

	#continue-button {
		font-size: 3vw;
	}

	#avatar-button {
		font-size: 3vw;
	}

	#create-account-modal {
		height: 80vw;
		width: 80vw;
		border-radius: 5vw;
	}

	#logger {
		padding: 10vw;
		font-size: 3vw;
	}

	#create-account-modal .item h2 {
		font-size: 5vw;
	}

	#create-account-modal .border {
		border-radius: 12vw;
		width: 23vw;
	}

	#user-avatar {
		width: 20vw;
		border-radius: 10vw;
	}

	#user-avatar-modal {
		height: 80vw;
		width: 80vw;
		border-radius: 5vw;
	}

	.user-avatar-header {
		height: 12vw;
		width: 80vw;
	}

	.user-avatar-header h2 {
		font-size: 6vw;
	}

	#user-avatar-group {
		height: 60vw;
		width: 80vw;
	}

	#user-avatar-modal .item {
		border-radius: 10vw;
		width: 18vw;
		margin: 1vw;
	}

	#user-avatar-modal .item img {
		width: 15vw;
		border-radius: 7.5vw;
	}

	/* #endregion CREATE_ACCOUNT */

}


@media screen and (orientation: landscape) {

	/* #region LEADERBOARD */

	#gameover-container-bg .modal {
		height: 80%;
		aspect-ratio: 1;
	}

	#gameover-container-bg h3 {
		font-size: 5vh;
	}

	.place-username {
		font-size: 3vh;
		padding: 1vh;
	}

	.place-score {
		font-size: 3vh;
	}


	#leaderboard-avatar-group-current p {
		font-size: 3vh;
	}


	.leaderboard-group-row h2 {
		font-size: 3vh;
	}

	.leaderboard-group-row #refresh-leaderboard-button {
		padding: 1vh;
		font-size: 3vh;
	}

	.leaderboard-group-row #difficulty-dropdown {
		padding: 1vh;
		font-size: 3vh;
	}

	.leaderboard-group-row #send-highscore-button {
		padding: 2vh;
		font-size: 3vh;
	}

	.leaderboard-group-row #play-again-button {
		padding: 2vh;
		font-size: 3vh;
	}


	.leaderboard-group-row #home-button {
		padding: 2vh;
		font-size: 3vh;
	}

	.loading-animation {
		width: 5vh;
		height: 5vh;
	}

	/* #endregion LEADERBOARD */

	/* #region CREATE_ACCOUNT */
	#username-label {
		font-size: 4vh;
	}

	#username-input {
		font-size: 4vh;
	}

	#continue-button {
		font-size: 3vh;
	}

	#avatar-button {
		font-size: 3vh;
	}

	#logger {
		padding: 10vh;
		font-size: 3vh;
	}

	#create-account-modal {
		height: 80vh;
		width: 80vh;
		border-radius: 5vh;
	}

	#create-account-modal .item h2 {
		font-size: 5vh;
	}

	#create-account-modal .border {
		border-radius: 12vh;
		width: 23vh;
	}

	#user-avatar {
		width: 20vh;
		border-radius: 10vh;
	}

	#user-avatar-modal {
		height: 80vh;
		width: 80vh;
		border-radius: 5vh;
	}

	.user-avatar-header {
		height: 12vh;
		width: 80vh;
	}

	.user-avatar-header h2 {
		font-size: 6vh;
	}

	#user-avatar-group {
		height: 60vh;
		width: 80vh;
	}

	#user-avatar-modal .item {
		border-radius: 10vh;
		width: 18vh;
		margin: 1vh;
	}

	#user-avatar-modal .item img {
		width: 15vh;
		border-radius: 7.5vh;
	}

	/* #endregion CREATE_ACCOUNT */

}